# GIS & Database
geopandas==0.14.4
geoalchemy2==0.15.1
psycopg2-binary==2.9.9
shapely==2.1.2
orjson==3.12.0
numpy==2.5.3
pandas==3.0.6
openpyxl==3.1.5
SQLAlchemy==2.0.30
alembic==1.13.1

# FastAPI
fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1

# Keamanan & Autentikasi
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pyjwt==2.8.0

# Cache halaman peta
redis==5.2.1